@model YatriSewa.Models.Route

@{
    ViewData["Title"] = "RouteDetails";
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stops)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stops)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusCompany.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditRoute" asp-route-id="@Model?.RouteID">Edit</a> |
    <a asp-action="ListRoute">Back to List</a>
</div>
