@model IEnumerable<YatriSewa.Models.Schedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="Schedules" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bus.BusName)
            </td>
                <td>
                    @if (item.Route != null)
                    {
                        <span>@item.Route.StartLocation - @item.Route.Stops - @item.Route.EndLocation</span>
                    }
                    else
                    {
                        <span>No Route</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.DriverName)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.BusCompany.CompanyName)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
