@model YatriSewa.Models.Payment


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
}
<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passenger.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsewaTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsewaTransaction.MerchantCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StripeTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StripeTrans.ChargeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundTransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundTransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
