@model YatriSewa.Models.UserLoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="~/img/logo.png">
    <title>Sign In</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icofont Icon-->
    <link href="~/vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.min.css" />
    <!-- Custom styles for this template -->
    <link href="~/css/custom.css" rel="stylesheet">
    <!-- Sidebar CSS -->
    <link href="~/vendor/sidebar/demo.css" rel="stylesheet">
</head>
<body>
    <!-- Sign in -->
    <div class="container-70">
        <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-darkblue">
            <h5 class="font-weight-normal mb-0 text-white">
                <a class="text-green mr-3" href="@Url.Action("GetStarted", "Login")"><i class="icofont-rounded-left"></i></a>
                Sign in to your account
            </h5>
            <div class="ml-auto d-flex align-items-center">
                <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
        </div>
        <div class="p-3">
            <form action="@Url.Action("SignIn", "Login")" method="post">
                <!-- Validation summary for displaying errors -->
                <input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />

                <div class="form-group">
                    <label class="text-muted f-10 mb-1">Email or Phone no.</label>
                    <input asp-for="PhoneEmail" class="form-control" placeholder="Enter Email or Phone" required />
                    <span asp-validation-for="PhoneEmail" class="text-danger"></span>
                    
                </div>
                <div class="form-group">
                    <label class="text-muted f-10 mb-1">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter Your Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="text-right mb-3">
                    <a href="@Url.Action("ChangePassword", "Login")" class="text-green">Forgot your password?</a>
                </div>
                @if (ViewData.ModelState.ContainsKey(string.Empty))
                {
                    <p class="alert alert-danger">
                        @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
                    </p>
                }
                <button type="submit" class="btn btn-darkblue btn-block osahanbus-btn mb-4 rounded-1">SIGN IN</button>
            </form>
            <div class="sign-or d-flex align-items-center justify-content-center mb-4">
                <hr class="mr-4">
                <p class="text-muted text-center py-2 m-0">OR</p>
                <hr class="ml-4">
            </div>
            <a href="@Url.Action("Verification", "Login")" class="btn btn-block rounded-1 google-btn osahanbus-social">
                <i class="icofont-google-plus"></i> LOGIN WITH GOOGLE
            </a>
            <div class="osahan-signin text-center p-1">
                <p class="m-0">Not a member? <a href="@Url.Action("Signup", "Login")" class="text-green ml-2">Sign Up</a></p>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="~/vendor/slick/slick.min.js"></script>
    <!-- Sidebar JS-->
    <script type="text/javascript" src="~/vendor/sidebar/hc-offcanvas-nav.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/custom.js"></script>
</body>
</html>
