@model IEnumerable<YatriSewa.Models.Bus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusDriver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusCompany.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.EndLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusDriver.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
